<!DOCTYPE html>
    <html lang="en-US">
    
    <head>

      <title>Ctrl+V</title>
      <link rel="shortcut icon" type="image/gif/png" href="favicon.ico" />
    
      <meta charset="utf-8">
      <meta name="description" content="A place where one could paste documents and
      access it from any where in the web">
      <meta name="keywords" content="ctrl, v, paste, clipboard, online">
      <meta name="author" content="Arunava Chakraborty">
      <meta name="viewport" content="width=device-width initial-scale=2.0">
    
      <link rel="stylesheet" href="/ui/style.css">
    </head>
    
    <body class="the_body">
    
    <div id="theNavigationBar">
        <ul>
          <li><a class="navBarOption_site_name" href=''>Ctrl+V</a></li>
          <br/>
          <li class="navBarOptions"><a href="/">Main</a></li>
          <li class="navBarOptions"><a href="/thePaste.html">New Paste</a></li>
          <li class="navBarOptions"><a href="">Browse</a></li>
        </ul>
      </div>
      
      <div class="atCenter">
      <h3> <%= message %> </h3>
      </div>
    
    </body>
    </html>
