@import url('https://fonts.googleapis.com/css?family=Syncopate');

.center_wrap {
  padding-top: 100px;
}

a:hover {
  background-color: transparent !important;
}

@media screen and (max-width: 767px) {

  * {font-size: 10px !important;}
  .the_name {font-size: 12px !important}
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  * {font-size: 12px !important;}
  .the_name {font-size: 14px !important}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  * {
    font-size: 15px !important;
  }
}

.the_name {
  text-align: center;
  font-size: 50px !important;
  color: #97a899;
  font-weight: bold;
  text-shadow: 1px 1px 12px #888;
}

.the_body {
  background: #e1bee7;
  font-family: 'Syncopate', 'Helvetica';
  padding: 0;
  margin: 0;
}

.aLilBold {
  font-weight: bold;
}

.the_title {
  margin-top: 10%;
  margin-bottom: 5%;
}

.showAsFormatted{
    word-wrap: break-word;
    white-space: pre-line;
}

.the_box {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  padding: 20px 30px;
  width: 80%;
  background-color: #fff;
}

@media only screen and (max-width: 332px) {

  .the_box {

    padding: 20px 10px;
  }
}

.the_login_box {
  border: 2px solid #f1f1f1;
  box-shadow: 10px 8px 15px rgba(0,0,0,0.14),
            -04px -17px -50px -10px rgba(0,0,0,0.19);
  margin-top: 8%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  text-decoration: none;
}

.goRight {
    float: right;
}

.justMargin {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.thePasteBox {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  padding: 22px 95px;
  width: 60%;
  background-color: #fff;
}

.pasteLayoutPart {

}

.navBarOption_site_name {
  font-weight: bolder;
  font-size: 50px;
  float: left;
  margin-right: 60px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  width: 150px;
  text-decoration: none;
  transition: color 0.25s;
}

.ctrlvTextArea {
  resize: none;
  margin: auto;
  padding: 10px 20px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 22px;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: monospace;
}

.ctrlvTextArea:focus {

  border-color: #d093f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(208, 147, 249, 0.6);
}

.pasteCreatorArea {

  height: 50vh !important;
}

.the_footer_login_box {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  padding: 12px 15px;
  width: 50%;
  background-color: #fff;
}

.justBoxIt {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  text-align: center;
  background-color: #fff;
  padding: 5px;
}

@media only screen and (max-width: 996px) {

  .the_footer_login_box {
    width: 100%;
  }
}

#theBlankProPic {
  margin: 0 auto;
}

.theFooter {
  margin-top: 30px;
}

.toLeft{
    float: left;
    display: inline-block;
}

.profile_picture {
  display: block;
  border-radius: 60px;
  box-shadow: 5px 5px 12px #888;
  margin: auto;
  height: 130px;
}

.newPasteLink {
  text-decoration: none;
  color: white;
}

.footerOptions {
  width: 100%;
  color: #777;
  transition: color 0.5s;
}

.footerOptions:hover {
  text-decoration: none;
  background-color: transparent;
  color: #333;
}

#identifier_next {
  position: relative;
  top:   350px;
  left: -500px;
}

#newPasteDiv {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100%
}

.newPstInputs {
  width: 100%;
}

#ctrlvhitsbox {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  padding: 22px 95px;
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  #ctrlvhitsbox {padding: 12px 15px;}
}

.getComfortable {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
}

.modal_content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.modal_form{
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 30px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #d0d4dd;
  opacity: 0.5;
}

.ctrlvButton {
  background-color: #4CAF50;
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  font-family: inherit;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition: box-shadow 0.5s, background-color 0.5s;
  transition: box-shadow 0.5s, background-color 0.50s;
}

@media screen and (max-width: 367px) {
  .ctrlvButton {
    padding: 10px 12px;
  }
}
.ctrlvButton:hover{
  background-color: #69c66d;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.12), 0 2px 3px 0 rgba(0,0,0,0.11);
}

.ctrlvButton:focus {
  background-color: #69c66d;
}

.varBtnWidth {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .varBtnWidth {width: 100%}
}

.newPasteButton {

  width: 100%;
}

#addCopyImage > button {
  background-color: #4CAF20;
  -webkit-transition: box-shadow 0.75s, background-color 0.75s;
  transition: box-shadow 0.75s, background-color 0.75s;
  width: 80px;
  height: 80px;
  margin: 8px 16px;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 50%;
}

.makeItBold {
  font-weight: bold;
  font-size: 14px;
}

input[type=text], input[type=password], input[type=email]{
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: box-shadow 0.75s;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {

  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #d093f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(208, 147, 249, 0.6);
}


.the_ctrl_v_icon {
  display: block;
  border-radius: 60px;
  box-shadow: 5px 5px 12px #888;
  padding: 20px;
  margin: auto;
  box-sizing: content-box;
}

.create_account_box{
  padding: 16px;
  margin: auto;
}

.topMargin1 {
  margin-top: 20px;
}

.marginsForDpLink {
  margin-top: 30px;
  margin-bottom: 10px;
}

.proLinkInput {
  margin: 0 auto;
  width: 80%;
}

.theCloseButton {
  position: relative;
  left: 635px;
  top: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: color 0.5s;
}

.theCloseButton:hover, .theCloseButton:focus{
  color: red;
}

.animate{

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@-webkit-keyframes animatezoom{
  from {transform: scale(0)}
  to {transform: scale(1)}
  }
}

.paste_title_link {
  color: gray;
  transition: color 0.2s;
}

.paste_title_link:hover, .paste_title_link:focus {
  color: #ce93f2;
  text-decoration: none;
  font-weight: 100;
}

.thisIsInline {
  display: inline;
}

#theExtraOrdinaryText {
  font-family: "Courier New", Courier, monospace;
  color: black;
  width: 40%;
}

.loader {
  display: none;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #d4a2ef;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dontDecorate {
  text-decoration: none;
  color: black;
}

.goAsh {
  color: #bdbdbd;
}

.paddTop {
  margin-top: 30px;
}

.aShortPasteLayout {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.aShortPasteLayout:hover {
  background-color: #f3e5f5;
  cursor: pointer;
}

.warningText {
  margin: 10px;
  color: #f44336;
  font-weight: 450;
}

.theErrorFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 50px;
}

#theNavigationBar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
     box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
     opacity: 0.93;
}

.topPadd {
  padding-top: 80px;
}

.topPaddMain {
  padding-top: 50px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.makeTheBackWhite {

  background-color: white;
}

.paddBottom {
  margin-bottom: 50px;
}
